Repository shower/core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add `eslintignore`
  .eslintignore
Due: none

Tweak `eslint` config
  .eslintrc.yml
Due: prettier --write

Revert HTML uglification
  .lintstagedrc.yml
  dist/tests/full-id.html
  dist/tests/full-next.html
  dist/tests/full-timer-next.html
  dist/tests/full-timer.html
  dist/tests/full-title.html
  dist/tests/full.html
  dist/tests/list-hidden.html
  dist/tests/list-id.html
  dist/tests/list-next.html
  dist/tests/list-timer.html
  dist/tests/list-title.html
  dist/tests/list.html
  dist/tests/none.html
  package.json
Due: prettier --write

Move `modechange` handler
  lib/modules/index.js
  lib/shower.js
Due: prettier --write, eslint --fix

Update MIT year
  LICENSE.md
Due: prettier --write

Put back https
  package-lock.json
Due: prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Ignore `chromedriver` logs
  .gitignore
Due: none

Reorder CLI flags
  package.json
Due: prettier --write

Improve condition
  lib/modules/location.js
Due: prettier --write, eslint --fix

Improve `nightwatch` config
  .gitignore
  .travis.yml
  nightwatch.conf.js
  package-lock.json
  package.json
  test/chromedriver.js
  test/func-harness.js
Due: prettier --write, eslint --fix

Fix running tests on Sauce Labs
  nightwatch.conf.js
Due: prettier --write, eslint --fix

Improve wording
  README.md
Due: prettier --write

Silence max listeners warnings
  test/func-harness.js
Due: prettier --write, eslint --fix

Pass number to `listen`
  test/func-harness.js
Due: prettier --write, eslint --fix

Fix commit & PR references in changelog
  CHANGELOG.md
Due: prettier --write

Proper max listeners warnings suppression
  test/func-harness.js
Due: prettier --write, eslint --fix

Run e2e tests on macOS Mojave
  nightwatch.conf.js
Due: prettier --write, eslint --fix

Downgrade macOS version
  nightwatch.conf.js
Due: prettier --write, eslint --fix

Rename e2e tests folder
  test/func/modules/a11y.js
  test/func/modules/keys.js
  test/func/modules/location.js
  test/func/modules/next.js
  test/func/modules/progress.js
  test/func/modules/timer.js
  test/func/modules/title.js
Due: prettier --write, eslint --fix

Add publishConfig
  package.json
Due: prettier --write

Bump up the version to the 3 beta
  package.json
Due: prettier --write

Bump up the version; move to @shower
  package.json
Due: prettier --write

Remove `maintainers` from `package.json`
  package.json
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Clean up e2e tests tags
  test/func/modules/a11y.js
  test/func/modules/keys.js
  test/func/modules/location.js
  test/func/modules/next.js
  test/func/modules/progress.js
  test/func/modules/timer.js
  test/func/modules/title.js
Due: prettier --write, eslint --fix

Improve e2e tests assertions
  test/func/core.js
  test/func/modules/a11y.js
  test/func/modules/keys.js
  test/func/modules/location.js
Due: prettier --write, eslint --fix

Remove old school functions from tests
  test/func/.eslintrc.yml
  test/func/modules/location.js
  test/func/modules/next.js
  test/func/modules/timer.js
Due: prettier --write, eslint --fix

Add failing popstate test
  test/func/modules/location.js
Due: prettier --write, eslint --fix

Revert "Remove old school functions from tests"
  test/func/.eslintrc.yml
  test/func/modules/location.js
  test/func/modules/next.js
  test/func/modules/timer.js
Due: prettier --write, eslint --fix

Code tweak
  test/func/modules/timer.js
Due: prettier --write, eslint --fix

Extract `freezeHistory` helper
  lib/modules/location.js
  lib/utils/index.js
Due: prettier --write, eslint --fix

Update mode in `popstate` handler
  lib/modules/location.js
Due: prettier --write, eslint --fix

Fix & improve `popstate` tests
  test/func/modules/location.js
Due: prettier --write, eslint --fix

Integrate `sauce-connect-launcher`
  package-lock.json
  package.json
  test/func-harness.js
Due: prettier --write, eslint --fix

Turn off Travis CI emails
  .travis.yml
Due: prettier --write

Check for `sauceProcess`
  test/func-harness.js
Due: prettier --write, eslint --fix

Add version to package-lock
  package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{html,json,md,yml})
  eslint --fix: any of: *.js
