Repository shower/core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fix state restoration from URL (#137)
  lib/modules/location.js
  lib/utils/index.js
  test/func/core.js
  test/func/modules/a11y.js
  test/func/modules/keys.js
  test/func/modules/location.js
  test/func/modules/next.js
  test/func/modules/progress.js
  test/func/modules/timer.js
  test/func/modules/title.js
Due: prettier --write, eslint --fix

Do not try to launch `sauce-connect` in Travis
  test/func-harness.js
Due: prettier --write, eslint --fix

Set correct `indent_size` for HTML
  .editorconfig
Due: none

Flatten e2e tests
  test/func/a11y.js
  test/func/keys.js
  test/func/location.js
  test/func/next.js
  test/func/progress.js
  test/func/timer.js
  test/func/title.js
Due: prettier --write, eslint --fix

Fix `a11y` tests in Edge
  test/func/a11y.js
Due: prettier --write, eslint --fix

Integrate `sauce-connect-launcher` (#138)
  .travis.yml
  package-lock.json
  package.json
  test/func-harness.js
Due: prettier --write, eslint --fix

Disable `console` warnings for test harness
  test/func-harness.js
Due: prettier --write, eslint --fix

Change `indent_size` for CSS
  .editorconfig
Due: none

Create CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
Due: prettier --write

Add Vadim's email to `package.json`
  package.json
Due: prettier --write

Prettify CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
Due: prettier --write

Clean up ESLint config
  .eslintrc.yml
Due: prettier --write

Rename Rollup entry point
  lib/start.js
  rollup.config.js
Due: prettier --write, eslint --fix

Make npm entry point pure
  package.json
Due: prettier --write

Navigate history directly with `nightwatch`
  test/func/location.js
Due: prettier --write, eslint --fix

Tweak `dispatchKeydown` helper
  test/func/timer.js
Due: prettier --write, eslint --fix

Fix `meta` key tests on Windows
  test/func/keys.js
Due: prettier --write, eslint --fix

Rename `eslint --fix` script
  package.json
Due: prettier --write

Use arbitrary unused port for functional tests
  nightwatch.conf.js
  package.json
  test/func-harness.js
  test/func/a11y.js
  test/func/core.js
  test/func/keys.js
  test/func/location.js
  test/func/next.js
  test/func/progress.js
  test/func/timer.js
  test/func/title.js
Due: prettier --write, eslint --fix

Bring back `serve` script
  package.json
  test/func-harness.js
Due: prettier --write, eslint --fix

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Remove `html` extension from functional tests
  test/func/a11y.js
  test/func/core.js
  test/func/keys.js
  test/func/location.js
  test/func/next.js
  test/func/progress.js
  test/func/timer.js
  test/func/title.js
Due: prettier --write, eslint --fix

Revert to using fixed port that Sauce Connect supports
  nightwatch.conf.js
  test/func-constants.json
  test/func-harness.js
Due: prettier --write, eslint --fix

Fix tests in Safari
  test/func/timer.js
Due: prettier --write, eslint --fix

Listen for `readyState` instead of `DOMContentLoaded`
  lib/start.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Rename `prettier` npm scripts
  package.json
Due: prettier --write

Use `loaded` instead of `parsed` promise
  lib/start.js
Due: prettier --write, eslint --fix

Add `start` functional test
  test/func/start.js
Due: prettier --write, eslint --fix

Reorder NPM scripts
  package.json
Due: prettier --write

Prevent `Shower#start` from being called twice
  lib/shower.js
Due: prettier --write, eslint --fix

Ignore `no-extraneous-dependencies` for now
  .eslintrc.yml
Due: prettier --write

Add test plugin
  dist/plugin.js
Due: prettier --write, eslint --fix

Use custom `contentLoaded` helper
  lib/start.js
  lib/utils/index.js
Due: prettier --write, eslint --fix

Replace `data:` URLs with `echo` query param
  test/func-harness.js
  test/func/start.js
Due: prettier --write, eslint --fix

Allow specifying `CHROME_HEADLESS`
  nightwatch.conf.js
  package.json
Due: prettier --write, eslint --fix

Mark only last open .next item as active
  lib/default-options.js
  lib/modules/next.js
Due: prettier --write, eslint --fix

Mark last activated "next" element as current
  lib/default-options.js
  lib/modules/next.js
Due: prettier --write, eslint --fix

Use naming from #338. Active item remains .active, visited are .visited
  lib/default-options.js
  lib/modules/next.js
Due: prettier --write, eslint --fix

Mark active .next item also as .visited
  lib/modules/next.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{html,json,md,yml})
  eslint --fix: any of: *.js
